/* Reset Styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Basic Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin-bottom: 60px; /* Adjust margin to make space for the fixed footer */
    background: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.name-title {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a.active, nav ul li a:hover {
    color: #4CAF50;
}

/* Publications Section Styles */
#publications {
    padding: 80px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.publication-category {
    margin-bottom: 40px;
}

.publication-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.publication-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.authors {
    font-style: italic;
    margin-bottom: 10px;
}

.publication-title {
    color: #007bff;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.publication-title:hover {
    color: #0056b3;
}

.publication-details {
    font-size: smaller;
    color: #666;
}

/* Footer Styles */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 0.9em;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #007bff;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .navbar {
        flex-direction: column;
    }

    .publication-card {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    .name-title {
        font-size: 1.2em;
    }
}
