/* Reset Styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

nav ul li a.active, nav ul li a:hover {
    color: #4CAF50;
}

/* Hero Image Styles */
.hero-image {
    background-image: url('images/nasa-Yj1M5riCKk4-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text p {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero-text a {
    color: white;
    background-color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer Styles */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0;
    }

    .hero-text p {
        font-size: 1.5em;
    }
}

/* ... existing styles ... */

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px 0;
}

.name-title {
    margin-left: 20px;
    color: white;
    font-size: 1.5em;
}
section {
    background-image: url('images/nasa-Yj1M5riCKk4-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
#home .hero-text, #about .container, #publications .container, #projects .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* About Me Page Styles */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px; /* Adjust size as needed */
    height: auto;
}

.profile-title {
    text-align: left;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.biography, .academic-info {
    width: 48%; /* Adjust the width as needed */
    text-align: left;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .name-title {
        margin-bottom: 10px;
    }

    .profile {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-content {
        flex-direction: column;
    }

    .biography, .academic-info {
        width: 100%;
    }
}


